@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500");

/* Title font: */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500");
/* Paragraph and sub-title font: */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500");



/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	background: none;
	border: none;
	font-size: 26px;
	color: white;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 10px;
	padding-top: 3px;
	padding-bottom: 6px;
	padding-left: 11px;
	padding-right: 11px;
}

button:hover {
	border: 1px solid lightgrey;
	/* color: lightgrey; */
}

button:focus {
	outline: 0;
}





/* STYLING */

body {
  overflow: scroll;
	scroll-behavior: smooth;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: url("../../images/background.jpeg");
  background-size: cover;
}

header {
  position: relative;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 3.5vw;
  font-weight: 300;
}

.top {
	opacity: 1;
}

header p {
  margin: 2vw;
  text-align: center;
}

.main-title {
  margin-top: -100px;
	margin-bottom: 3vh;
  font-family: 'Work Sans', sans-serif;
  font-size: 4.7vw;
  color: hsl(0, 0%, 10%);
}

nav {
  margin-bottom: 5vw;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3vw;
  color: hsl(0, 0%, 10%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.sub-title {
  margin-bottom: 5vw;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vw;
  color: hsl(0, 0%, 10%);
}

nav a {
	color: hsl(0, 0%, 10%);
	text-decoration: none;
}

nav a:hover {
	color: hsl(0, 0%, 96%);
}

nav p {
	margin: 1vw;
}

.scroller {
	text-decoration: none;
	color: hsl(0, 0%, 10%);
}

.scroller:hover {
	color: hsl(0, 0%, 96%);
}

.white-hover:hover {
	color: white;
}

.white-arrow {
	text-decoration: none;
	color: hsl(0, 0%, 96%);
}

.white-arrow:hover {
	color: hsl(0, 0%, 10%);
}

.main-wrapper {
  position: absolute;
  margin-top: 80vh;
  margin-bottom: 4vw;
  width: 85vw;
  padding-top: 2.8vw;
  padding: 3.3vw;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

main {
  border-radius: 2px;
  background-color: #FEFEFE;
}

section {
  position: sticky;
  top: 0;
  height: 100vh;
  width: auto;

  align-items: center;
	color: hsl(0, 0%, 10%);
	font-size: 2vw;
}

@media (max-width:632px) {
	section {
		position: relative;
	}
}

.title {
  font-family: 'Work Sans', sans-serif;
  font-size: 3vw;
  font-weight: 300;
	color: hsl(0, 0%, 10%);
}

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
  font-size: 3vw;
}

.about-sub {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.about-sub * {
  margin: 2vh;
}

#headshot {
  width: 30vh;
  height: 30vh;
  background-image: url("../../images/cropped_head.jpg");
}

.description {
  font-size: 1.7vw;
	text-align: center;
}

.about-des {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vh;
	color: hsl(0, 0%, 20%);
}

.pusher {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
	font-size: 2vw;
	margin-bottom: 4vh;
}

.pusher .title {
	margin-bottom: 2vh;
}

.project-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

section .image {
  border-radius: 50%;
  width: 50vh;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	margin: 2vw;
}

.links a {
	font-size: 2vw;
	text-decoration: none;
	color: white;
}

.links a:hover {
	color: hsl(0, 0%, 10%);
}

.project {
	height: 100%;
	width: 100%;
	/* margin-top: 15vh; */
	display: flex;
  justify-content: center;
  align-items: center;
	flex-wrap: wrap;
}

.lone-arrow {
	margin-bottom: 5vh;
}

.image-description {
	width: 40vw;
	margin: 2vw;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-description * {
	margin: 1vw;
}

#jsequencer {
  background-color: #C9D4DF;
}

#jsequencer .image {
  background-image: url("../../images/jsequencer2.png");
}

#jsequencer p {
  color: white
}

#flexpx {
  background-color: hsl(0, 0%, 96%);
}

#flexpx .image {
  background-image: url("../../images/flexpx.png");
}

#flexpx p {
	color: hsl(0, 0%, 10%);
}

.flex-links a {
	color: hsl(0, 0%, 10%);
}

.flex-links a:hover {
	color: white;
}

#bestsellers {
  background-color: #d3dadf;
}

#bestsellers p {
  color: white
}

#bestsellers .image {
  background-image: url("../../images/bestsellers.png");
}

#contact-pusher .title {
	color: white;
}

#contact-pusher .title:hover {
	color: hsl(0, 0%, 10%);
}

#contact {
	background-color: hsl(0, 0%, 93%);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.contact {
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 3vw;
}

.contact a, .contact p {
	text-decoration: none;
	color: hsl(0, 0%, 10%);
	font-size: 2vw;
}

.contact a:hover {
	color: white;
}

.contact li {
	margin: 1vw;
	display: flex;
	align-items: center;
}

.contact li i {
	margin-top: -0.5vw;
}

.contact li * {
	margin-left: 0.5vw;
	margin-right: 0.5vw;
}

#top-pusher {
	margin-bottom: 5vh;
}

.white-bottom {
	text-decoration: none;
	color: white;
}

.white-bottom:hover {
	color: hsl(0, 0%, 10%);
}
